.wrapDashboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    &_header {
        position: sticky;
        top: 0;
        right: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: #ffffff;
        height: 60px;
        align-content: center;
        -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0);
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0);
        z-index: 2;
        &--heading {
            font-size: 2.5rem;
            color: #121621;
            padding-bottom: 10px;
            border-bottom: 1px solid #dddddd ;
        }
        .header_menu {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            min-height: 80px;
            align-items: center;
            a {
                color: #000000;
                text-decoration: none;
                padding: 20px 10px;
                &:hover {
                    color: #000000;
                    text-decoration: underline;
                }
            }
            &--langPicker_selector {
                display: flex;
                width: auto;
                height: auto;
                align-items: center;
                gap: 20px;
            }
            &--profile {
                width: 40px;
                height: 40px;
                border: 2px solid #f6f6f6;
                border-radius: 100%;
                img {
                    width: 100%;
                    height: auto;
                    vertical-align: top;
                }
            }
        }
        nav {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            margin-right: 20px;
            ul {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                margin-left: 0;
                gap: 20px;
                color: #32383D;
                li {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center; 
                }
                svg {
                    width: 25px;
                    height: auto;
                }
            }
        }
    }
    &_sidebar {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex: 0 0 300px;
        max-width: 300px;
        height: 100vh;
        background: #121621;
        overflow-y: auto;
        color: #A4AAB6;
        font-size: .87rem;
        .container-fluid {
            flex-direction: column;
        }
        &--titles {
            color: #A4AAB6;
            font-size: .87rem;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        &--nav {
            ul {
                list-style-type: none;
                margin-left: 0;
            }
            li {
                position: relative;
                display: flex;
                gap: 10px;
                padding-left: 10px;
                svg {
                    position: relative;
                    top: 10px;
                }
            }
            li:hover {
                background-color: #625BFF;
                color: #ffffff;
                border-radius: 5px;
                a {
                    color: #ffffff;
                }
            }
        }
        a {
            display: block;
            width: 100%;
            height: auto;
            color: #A4AAB6;
            text-decoration: none;
            padding: 10px 20px 10px 0;
            &:hover {
                color: #ffffff;   
            }
        }
        a.active {
            color: #ffffff; 
        }
    }
    &_content {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 300px);
        height: auto;
        justify-content: flex-start;
        flex-direction: column;
        height: 100vh;
        overflow-y: auto;
        .bodyContent {
            width: 100%;
            max-width: 1100px;
            min-height: 100px;
            margin: 50px auto;
            background-color: #ffffff;
            -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0);
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0);
            border-radius: 10px;
            button.active {
                background-color: #625BFF;
                color: #ffffff;
            }
            table {
                td {
                    padding: 7px 10px;
                    vertical-align: middle;
                    span {
                        display: inline-block;
                        width: 100px;
                        padding: 5px 15px;
                        border-radius: 10px;
                        font-size: .87rem;
                        text-align: center;
                        font-weight: 600;
                    }
                    .svgBtn {
                        width: 50px;
                        color: #cccccc;
                        position: relative;
                        top: 3px;
                        &:hover {
                            color: #625bff;
                        }
                    }
                    &.pending {
                        span {
                            background-color: #FFF2C6;
                            color: #cbac16;
                        }
                    }
                    &.canceled {
                        span {
                            background-color: #FEE4E2;
                            color: #D97973;
                        }
                    }
                    &.finished {
                        span {
                            background-color: #CCFCEE;
                            color: #61AC9F;
                        }
                    }
                }
            }
            &_left {
                width: 100%;
            }
            &_right {
                border-left: 1px solid #dddddd;
                max-width: 400px;
                width: 100%;
                &--infoIcon {
                    svg {
                        width: 100px;
                        height: 100px;
                        color: #f3f3f3;
                    }
                }
            }
            .blockquote {
                font-size: .87rem;
                &.warning {
                    background: #ffc1071c;
                    border-left: .5rem solid #ffc10763;
                }
            }
        }
    }
    .alert {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 10px;
            left: 18px;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            background-color: red;
            z-index: 1;
            animation: pulse-effect 1.5s infinite ease-in-out;
        }
        @keyframes pulse-effect {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
        
    }
}